:root {
    --v-media-text-color: rgb(87 79 133 / 84%);
    --v-media-bg: #eae7e796;
    --v-media-hover-bg: rgb(235 232 248 / 37%);
    --v-media-hover-border-color: rgb(224 221 245 / 95%);
    --v-media-duration: 0.5s;
    --v-media-font-size: 14px;
    --v-media-border-color: rgba(81, 73, 130, 0.25);
    --v-media-border-width: 2px;
    --v-media-error-color: #e74c3c;
    --vt-c-indigo: #2c3e50;
}

.text-uppercase {
    text-transform: uppercase;
}

.button-link {
    background: none;
    border: unset;
    text-align: left;
    padding: 0;
    margin-top: 1px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--v-media-text-color);
}

.btn-danger {
    background: #dc3545;
    border: none #dc3545;
    border-radius: 2px;
    color: white;
    font-size: 10px;
}

.v-media-card {
    display: flex;
    align-items: center;
}
